/* VIEWS'S CSS */

/* LANDING COMPONENT'S CSS */
.logo {
  margin-top: 120px;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  align-items: center; 
}

.logo > p {
  text-align: center;
}

.companyLogo {
  width: 80%;
}

.arrow {
  height: 80px;
  margin-bottom: 70px;
}


/* main */
.title {
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: scroll;
  }

.titlePic {
    width: 70%;
    margin-top: 50px;
}

.otherCity {
  color: #007bff;
  text-align: center;
  width: 100%
}

.title, .account, .container, .cities {
  padding-top: 40px; 
  margin-top: 30px;
}

a {
  text-decoration: none;
  color: #000;
  }

.cityList {
  margin-bottom: 70px;
}

.cityList >p {
  display: block;
  text-align: center;
  font-size: 25px;
  text-decoration: none;
  border: 1px solid lightslategray;
  border-radius: 4px;
  margin: 15px 20px;
  padding: 10px;
  background-color: lightgoldenrodyellow; 
}

.bold {
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: center; 
  margin-top: 40px;
}

h4 {
  text-align: center;
  font-size: 35px;
}

.navbuttons {
  display: flex;
  justify-content: center;
}

.links {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-bottom: 30px;
}

.account >p {
  margin-left: 30px;
}

.bluehighlight {
  color: blue;
}

.citycontainer {
  background-color:  red;
}
