/* VIEWS'S CSS */

/* main */
.title {
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items: center; 
    height: 515px;
    overflow: scroll;
  }

.titlePic {
    width: 70%;
}

.otherCity {
  font-size: 20px;
}

.title, .logo, .container, .cities {
  margin-top: 100px;
  padding-top: 20px; 
}

h4, .container >p {
  margin-left: 5px;
}

.navbuttons {
  display: flex;
  justify-content: center;
}

.links {
  width: 100%;
  display: flex;
  justify-content: space-around;
}



/* .home-at-home {

} */