html,
body {
  margin: 0;
  padding: 0;
}

.textAndLink {
    display: flex;
    flex-direction: column;
    align-items: center; 
    width: 90%;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    margin: 30px auto;
}

.allDetailsIt {
    display: flex;
    flex-direction: row;
}

.overview {
    width: 80%;
    padding-right: 5px;
    display: flex;
    flex-direction: column;
}

.details {
    display: flex;
    flex-direction: column;
}

.singleDetails {
    padding-bottom: 5px; 
    width: 100%;
}

ul { 
    list-style-type: none; 
    padding-left: 0px;
}

.profilePic {
    width: 40%;
}

.prof {
    margin: 40px 40px 0px 40px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.view_close {
    background-color: lightgrey;
    color: rgba(0, 0, 0, 0.54);
    font-size: 25px;
    text-decoration: none;
    width: 100%;
}

.activitySlider {
    margin: 10px 10px 30px 10px;
    display: flex;
    justify-content: center;
}


.material-icons {
    font-family: 'Material Icons';
    font-weight: bolder;
    color: black;
    font-size: 40px;
    display: inline-block;
}

.username {
    text-align: center;
    word-wrap: break-word;
}